body {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin: 0px;
    color: red;
    text-align: center;
}

.game-screen {
    /* border: solid black; */
    background-color: grey;
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    position: relative;
    margin: 10px;
    background-image: url("https://images.unsplash.com/photo-1608754482805-6f630357358b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80");
    background-size: cover;
    background-position: center;
}

.enemy {
    transform: rotateX(180deg);
}

.player-sprite, .enemy-sprite {
    /* border: solid blue; */
    /* background-color: blue; */
    /* width: 50px; */
    /* height: 50px; */
    position: absolute;
}

.player-sprite {
    bottom: 0px;
}

.enemy-sprite {
    top: 0px;
    /* background-color: red; */
}

.enemy-sprite p {
    position: absolute;
    top: 0px;
    color: red;
}

.player-sprite-img, .enemy-sprite-img {
    height: 100%;
    width: 100%;
}

.projectile {
    /* border: solid green; */
    /* background-color: yellow; */
    width: 5px;
    height: 20px; 
    position: absolute;
}

.projectile img {
    width: 100%;
    height: 100%;
}

.health-bars {
    display: flex;
    text-align: center;
}
.health {
    margin: 15px;
}

.unclickable {
    opacity: 25%;
    pointer-events: none;
}

