body {
    display: flex;
    justify-content: center;
    margin: 0px;
    color: white;
}

.game-screen {
    /* border: solid black; */
    background-color: grey;
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    position: relative;
    margin: 50px;
}

.enemy {
    transform: rotateX(180deg);
}

.player-sprite, .enemy-sprite {
    /* border: solid blue; */
    background-color: blue;
    width: 50px;
    height: 50px;
    position: absolute;
}

.player-sprite {
    bottom: 0px;
}

.enemy-sprite {
    top: 0px;
}

.projectile {
    /* border: solid green; */
    background-color: yellow;
    width: 20px;
    height: 20px; 
    position: absolute;
}

.projectile-shoot {
    animation: projectile-shoot 1s linear 50ms 1 forwards;
}

@keyframes projectile-shoot {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-500px);
    }
}

